
@{
    ViewData["Title"] = "Submission";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Required</title>
    <link rel="stylesheet" href="/css/submission_style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <script type="text/javascript" src="/js/site.js"></script>
</head>
<body>
    <section class="overlay">
        <h1 id="message"></h1>
        <p>Thank you for your submission</p>
        <a href=@Url.Action("Main","Home")>Go back</a>
    </section>
</body>
</html>


